body {
    font-size: 18px;
    font-family: "Epilogue", sans-serif;
}

.layout {
    min-height: 100%;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
        "header"
        "main"
    ;
}

header {
    position: relative;
    grid-area: header;
    width: 100%;
    display: flex;
    gap: 50px;
    padding: 0 25px;
}

header .logo {
    display: grid;
    align-items: center;
    align-items: end;
}


main {
    grid-area: main;
}

nav ul {
    list-style: none;
}

.menu {
    display: flex;
    gap: 25px;  
}

.dropdown {
    position: relative;
}

.dropdown button {
    border: none;
    background: none;
    cursor: pointer;
    color: hsla(0, 0%, 8%, 0.686);
    font-size: 14px;
    transition: all 0.3s ease;
}

.dropdown button:hover {
    color: hsl(0, 0%, 0%);
}

.menu a {
    text-decoration: none;
    color: hsla(0, 0%, 8%, 0.686);
    line-height: 1%;
    cursor: pointer;
    font-size: 14px;
     transition: all 0.3s ease;
}

.menu a:hover {
    color: hsl(0, 0%, 0%);
}

.header-login {
    position: absolute;
    right: 0;
}

.header-login button {
    border-radius: 10px;
    padding: 15px 40px;
    background: none;
    cursor: pointer;
    color: hsla(0, 0%, 8%, 0.686);
    font-weight: 700;
    font-size: 14px;
}

.header-login button:nth-child(2) {
    border: 2px solid hsla(0, 0%, 8%, 0.346);
    transition: all 0.3s ease;
}

.header-login button:nth-child(2):hover {
   border: 2px solid hsl(0, 0%, 8%); 
}

.dropdown-menu{
    
    position: relative;
    display: grid;
    gap: 10px;
    line-height: 100%;
    padding: 15px 20px;
    box-shadow: 0 1px 100px rgba(0, 0, 0, 0.545);
    background: hsl(0, 0%, 100%);
    border-radius: 10px;
    font-size: 1rem;
    color: hsla(0, 0%, 8%, 0.686);
    margin-top: 20px;
    font-size: 14px;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
}

.dropdown-menu.first.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.dropdown-menu.second.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.dropdown:nth-child(1) .dropdown-menu{
    position: absolute;
    flex-direction: column;
    left: -65px;

}

.dropdown-menu img {
    margin-right: 5px;
}

.dropdown-menu li {
    cursor: pointer;
}

.dropdown-menu li:hover{
   color: hsl(0, 0%, 8%); 
}

.card {
    display: flex;
    max-width: 90%;
    margin: 54px auto;
    padding: 24px 0;
}

.card .left {
    width: 50%;
    display: grid;
    grid-template-rows: 1fr 1fr 60px 70px;
    padding: 24px 0;
}

.title {
    width: 100%;
}

.title h1 {
    font-size: 74px;
    margin: 0;
}



.content {
    margin: 25px 0;
    font-size: 1rem;
    color: hsla(0, 0%, 8%, 0.657); 
    padding-right: 230px;
}

.card-btn {
    width: 100%;
}

.card-btn button {
    padding: 15px 28px;
    border-radius: 10px;
    background: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    letter-spacing: 0px;
    transition: all 0.3s ease;
}

.card-btn button:hover{
    color: hsl(0, 0%, 8%);
    background: hsl(0, 0%, 100%);
    border: 1px solid, hsl(0, 0%, 8%); 
}

.companias {
    width: 100%;
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 50px;
}

.card .right {
    width: 50%;
}

.card .right picture {
    width: 100%;
    display: flex;
    justify-content: center;
}

.right img {
        width: 365px;
    max-width: 100%;
    object-fit: cover;
}
