body {
    font-size: 18px;
    font-family: "Epilogue", sans-serif;
}

.layout {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 100%;
    grid-template-areas:
        "header"
        "main"
    ;
}

header {
    position: relative;
    grid-area: header;
    width: 100%;
    display: flex;
    gap: 50px;
    padding: 10px 15px;
}

header .logo {
    display: flex;
    align-items: center;
    margin-top: 13px;

}


main {
    grid-area: main;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
}

.nav-close {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    width: fit-content;
}

.menu {
    display: flex;
    gap: 25px;
}

.dropdown {
    position: relative;
}

.dropdown button {
    border: none;
    background: none;
    cursor: pointer;
    color: hsla(0, 0%, 8%, 0.686);
    font-size: 14px;
    transition: all 0.3s ease;
}

.dropdown button:hover {
    color: hsl(0, 0%, 0%);
}

.menu a {
    text-decoration: none;
    color: hsla(0, 0%, 8%, 0.686);
    line-height: 1%;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease;
}

.menu a:hover {
    color: hsl(0, 0%, 0%);
}

.header-login {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-login button {
    border-radius: 10px;
    background: none;
    cursor: pointer;
    color: hsla(0, 0%, 8%, 0.686);
    font-weight: 700;
    font-size: 14px;
}

.header-login button:nth-child(2) {
    padding: 12px 24px;
    border: 2px solid hsla(0, 0%, 8%, 0.346);
    transition: all 0.3s ease;
}

.header-login button:nth-child(2):hover {
    border: 2px solid hsl(0, 0%, 8%);
}

.dropdown-menu {
    position: absolute;
    gap: 10px;
    line-height: 100%;
    padding: 15px 20px;
    box-shadow: 0 1px 100px rgba(0, 0, 0, 0.545);
    background: hsl(0, 0%, 100%);
    border-radius: 10px;
    font-size: 1rem;
    color: hsla(0, 0%, 8%, 0.686);
    margin-top: 20px;
    font-size: 14px;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
}

.arrow {
    transform: rotate(0px);
    transition: transform 0.5s ease;
}

.dropdown-menu.first.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.arrow.one.active {
    transform: rotate(180deg);
}

.arrow.two.active {
    transform: rotate(180deg);
}

.dropdown-menu.second.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.dropdown-menu.first {
    left: -65px;

}

.dropdown-menu img {
    margin-right: 5px;
}

.dropdown-menu li {
    cursor: pointer;
}

.dropdown-menu li:hover {
    color: hsl(0, 0%, 8%);
}

.burger {
    display: none;
    width: 40px;
    height: 100%;
    margin: auto 0;

}

.burger span {
    display: block;
    margin-top: 7px;
    width: 100%;
    height: 3px;
    background: hsl(0, 0%, 8%);
}

.container {
    margin: 0 50px;
}

.card {
    display: flex;
    max-width: 1450px;
    width: 100%;
    margin: 0 auto;
}

.card .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 23px;
    margin-top: 60px;
}



.title h1 {
    font-size: 5.6rem;
    line-height: 1;
    margin: 24px 0;
}



.content {
    max-width: 520px;
    margin: 25px 0;
    font-size: 1.3rem;
    color: hsla(0, 0%, 8%, 0.657);
    line-height: 1.6;
}

.card-btn {
    width: 100%;
}

.card-btn button {
    font-size: 1.3rem;
    padding: 15px 25px;
    border-radius: 10px;
    background: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    transition: all 0.3s ease;
}

.card-btn button:hover {
    color: hsl(0, 0%, 8%);
    background: hsl(0, 0%, 100%);
    border: 1px solid, hsl(0, 0%, 8%);
}

.companias {
    width: 100%;
    display: flex;
    gap: 15px;
    align-items: end;
    margin-top: 50px;
}

.card .right {
    width: 50%;
}

.card .right picture {
    width: 100%;
    display: flex;
    justify-content: center;
}

.right img {
    max-width: 520px;
    width: 100%;

}

.overlay {
    display: none;
}



@media (max-width: 1024px) {

    .layout {
        grid-template-columns: 1fr;
        grid-template-rows: 60px 1fr;
    }

    header {
        position: fixed;
        background: hsl(0, 0%, 98%);
        justify-content: space-between;
        z-index: 3;
    }

    .burger {
        display: block;
    }

    .navigation {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: unset;
        padding: 1rem 0;
        opacity: 0;
        top: 0;
        right: 0;
        bottom: 0;
        max-width: 0;
        overflow: hidden;
        transition:
            max-width 0.1s ease,
            opacity 0.2s ease,
            padding 0.4s ease;
        z-index: 2;
    }

    .nav-close {
        display: unset;
    }



    .navigation.active {
        padding: 1rem;
        background: hsl(0, 0%, 98%);
        max-width: 350px;
        opacity: 1;
        z-index: 3;
    }

        .overlay.active {
        display: block;
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.219);
        z-index: -1;
    }

    .dropdown-menu {
        position: static;
        box-shadow: none;
        margin-top: 0;
        padding: 0;
        overflow: hidden;
        max-height: 0px;
        padding: 0 1rem;
    }

    .dropdown-menu.first.active {
        display: flex;
        flex-direction: column;
        max-height: 300px;
        padding: 1rem;
    }

    .dropdown-menu.second.active {
        display: flex;
        flex-direction: column;
        max-height: 300px;
        padding: 1rem;
    }

    .menu {
        flex-direction: column;
    }

    .header-login {
        flex-direction: column;
    }

    .header-login button:nth-child(2) {
        width: 100%;
    }

    .container {
        margin: 0;
    }

    .card {
        flex-direction: column-reverse;
    }

    .card .left {
        width: 100%;
        align-items: center;
    }

    .card .content blackquote p {
        padding: 0 15px;
    }

    .card .right {
        width: 100%;
    }

    .right img {
        margin-top: 20px;
        max-width: 750px;
        width: 100%;
    }

    .card .left .title {
        width: 100%;
        text-align: center;
    }

    .card .left h1 {
        font-size: 2.5rem;
    }

    .card-btn {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .companias {
        justify-content: center;
        margin-bottom: 20px;
        gap: 50px;
    }
}

@media (max-width: 430px) {

    .card .left h1 {
        font-size: 3rem;
    }

    .card .left .content {
        font-size: 1.5rem;
        text-align: center;
    }

    .card-btn button {
        font-size: 1.5rem;
    }

    .companias {
        gap: 5px
    }
}

section:not(#banner) {
    display: none;
}